@import url("https://fonts.googleapis.com/css?family=Acme|Rubik|Source+Code+Pro&display=swap");

:root {
  --SourceCodePro: "Source Code Pro", monospace;
  --Rubik: "Rubik", cursive;
  --bggradient: linear-gradient(90deg, #071738 0%, #003265 100%);
}

* {
  box-sizing: border-box;
  font-family: var(--Rubik);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth !important;
}

header,
section {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

header a {
  font-family: var(--SourceCodePro);
  font-size: 0.9em;
  color: whitesmoke;
}

header {
  background: var(--bggradient);
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 1em;
}

header .nav-link {
  font-size: 1.2em;
  background: white;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-out;
}

header .navbar-brand {
  padding-left: 8rem;
  font-size: 1.8em;
}

header .shield {
  height: 100px;
  width: auto;
  padding: 1px;
}

header .nav-link:hover {
  background-position: -100%;
  transform: rotate(10deg);
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 28vmin;
  font-family: var(--Rubik);
  color: whitesmoke;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h4 {
  padding: 1vmin;
  letter-spacing: 1.2px;
}

header .btn {
  border-radius: 30px;
  margin-top: 1em;
  font-weight: bold;
}

/********** section 1 **************/

.section-1 {
  position: relative;
  height: 105vh;
  display: flex;
  background: white;
}

.section-1 .screen {
  position: relative;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  transition: 1s;
}

.section-1 .screen:nth-child(1) {
  background: url(../assets/first.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.section-1 .screen:nth-child(2) {
  background: url(../assets/ahands.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.section-1 .screen:nth-child(3) {
  background: url(../assets/second.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.section-1 .screen:hover {
  flex-grow: 5;
  opacity: 1;
}

.section-1 .screen .content-sec {
  position: absolute;
  width: 350px;
  height: auto;
  background: white;
  padding: 25px;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: 0.2s;
  text-align: justify;
}
.section-1 .screen:hover .content-sec {
  transform: translateX(0);
  transition-delay: 0.4s;
}

.section-1 .screen .content-sec p {
  color: whitesmoke;
  font-family: var(--Rubik);
  margin: 0;
  padding: 0;
}

.section-1 .row .col-md-6 .panel h3 {
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
}


/********** section 2 **************/

.section-2 {
  padding: 8vmin 0vmin;
  min-height: 700px;
}

.section-2 .row .col-md-6 .pray img {
  width: 65%;
  border-radius: 0.2em;
}

.section-2 .row .col-md-6:last-child {
  position: relative;
}

.section-2 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -15vmin;
  background: var(--bggradient);
  border-radius: 3px;
  text-align: left;
  padding: 4vmin 4vmin 7vmin 5vmin;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-2 .row .col-md-6 .panel h2 {
  font-weight: bold;
  padding: 0.4em 0;
  color: whitesmoke;
  font-size: 1.4em;
}

.section-2 .row .col-md-6 .panel h3 {
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
}

.section-2 .row .col-md-6 .panel h4 {
  color: whitesmoke;
  font-size: 1.2em;
}

.section-2 .row .col-md-6 .panel h6 {
  color: whitesmoke;
  font-size: 1em;
}

.section-2 .row .col-md-6 .panel p {
  color: whitesmoke;
  font-size: 0.9em;
}

/********** section 3 **************/

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 15rem;
  height: auto;
  padding-top: 3.5vmin;
  margin: 2rem;
  border-radius: 0.5em;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.numbers .rect h1 {
  font-size: 4rem;
  color: #f7c53b;
}

.numbers .rect p {
  font-family: var(--Rubik);
  font-size: 1.5rem;
}

.section-3 {
  background: #f7c53b;
  background: var(--bggradient);
}

/********** section 4 **************/
.section-4 .container {
  padding-top: 6vmin;
}

.section-4 .container .secondary-text {
  font-size: 3vmin;
}

.section-4 .card {
  width: 22em;
  margin: 1.6em;
  margin-top: 5vmin;
  margin-bottom: 10vmin;
  transition: transform 0.3s ease-in-out;
}
.section-4 .card:hover {
  transform: scale(1.05);
}

.section-4 .card .card-text {
  padding: 0.4em;
}

.section-4 .card-body > a {
  font-size: 1.3em;
}

/********** section 5 **************/

.section-5 {
  padding-top: 7vmin;
  padding-bottom: 10vmin;
  background-position: center;
  background: var(--bggradient);
  margin: auto;
}

.contact {
  width: 40%;
  padding: 4vmin;
  padding-top: 2vmin;
  margin-left: 30px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  float: left;
  border-radius: 25px;
  background-color: white;
}

.contact h2 {
  color: #000000;
  text-align: center;
  font-size: 30px;
}
.input-field {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
.input-field input,
.input-field textarea {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 12px;
  /* color: whitesmoke; */
  font-weight: 500;
  resize: none;
}
.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0;
  pointer-events: none;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  transition: 0.5s;
}
.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label {
  top: -25px;
  font-size: 14px;
  padding: 2px 5px;
  background: #f7c53b;
  color: #fff;
  border-radius: 4px;
}
.section-5 .contact .btn {
  margin-top: 10px;
  background: #f7c53b;
  color: #fff;
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
}
.section-5 .contact .btn:hover {
  background: #f7c53b;
}

.quote {
  width: 50%;
  margin-left: auto;
  margin-right: 40px;
  text-align: center;
  color: whitesmoke;
  padding-top: 10em;
  font-weight: 500;
  font-size: 16px;
}

/********** MembersOnly **************/

body,
html {
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  color: #003265;
  background: url('/assets/dresses.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  padding-top: 70px;
}
.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #003265;
  opacity: 0.2;
  filter: alpha(opacity=90);
}
.main-text {
  top: 20%;
  left: auto;
  right: auto;
  position: relative;
  color: #ffffff;
}
.btn-circle,
#to-top {
  border-radius: 50%;
  background: #003265;
  padding: 6px;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.c2a-btn {
  margin: 48px auto 0;

}

.btn-default {
  color: #fff;
  background-color: #003265;
  border-color: #003265;
  transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 18px 28px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 50px;
}

.btn-group .btn-or {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0;
  border: 2px solid #fff;
}


/********** memberlogin **************/
.register{
    background: -webkit-linear-gradient(left, #003265, #003265);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #000000;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 20%;
    margin-bottom: 5%;
    width: 40%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #003265;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #003265;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #003265;
    border: 2px solid #003265;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #000000;
}

/********** feature **************/
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("plot-removebg-preview.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/********** footer **************/

footer {
  background: linear-gradient(90deg, #e7c103 0%, #e7c103 100%);
  overflow-x: hidden;
  padding: 7vmin 22vmin;
  padding-bottom: 10px;
}

footer .sp {
  color: #003265;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #003265;
  margin: 0.4rem;
  font-size: 2em;
  transition: color 0.3s linear;
}
footer .column i:hover {
  color: #ffffff;
}

footer p.gmail {
  color: #003265;
  transition: color 0.3s linear;
}

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: all 1.5s ease;
}
#myBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 100;
  bottom: 55px;
  right: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #e7c103;
  color: #ffff;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #003265;
}